<div class="container-fluid letter-bg p-2">
  <div class="row text-center text-white mb-5">
      <div class="col-lg-7 mx-auto">
          <h1 class="display-4 text-black">All together we can</h1>
          <p class="text-black">But if we want to change this world we need to start from ourselves!Its your duty!</p>
      </div>
  </div>
  <div class="row w-100 text-center">
    <h3>"It is my duty, and mine alone, to save the earth. If it is not saved, then I alone am to blame."</h3>
  </div>
  <div class="row w-100 text-center">
    <h3>Be part of it!</h3>
  </div>
</div>
